<form method="post" action="/email_team">
<div style="width:80%;margin-left:auto;margin-right:auto;">
	<table class="norm" style="width:100%;">
		<tr>
			<th style="width:45px;">Subject</th>
			<td><input style="display:inline-block;width:100%;" type="text" name="subject"></td>
		</tr>
		<tr>
			<th style="width:45px;">Body</th>
			<td><textarea style="width:100%;height:350px;resize:none;" name="body"></textarea></td>
		</tr>
		<tr>
			<td></td>
			<td>
				<div class="btn-group">
 					<a class="btn pull-left btn-small" onclick="remove();">Back</a>
					<input type="submit" class="btn btn-small">
				</div>
			</td>
		</tr>
	</table>
</div>
</form>
<script>
function remove(){
	$('#addEmail').load('/partial/email_team/remove');
}
</script>
