<div class="control-group error">
  <div class="controls">
    <span id="password_help" class="help-inline"></span>
  </div>
</div>
<form id="form_password" method="post" action="/account/change_password/<%=@user_partial.id%>">
<table class="norm">
<tr>
	<td>Current Password: </td>
	<td>
    <input id="current_password" style="width:159px;" type="password" name="current_password">
  </td>
</tr>
<tr>
  <td>New Password: </td>
  <td>
    <input id="new_password" style="width:159px;" type="password" name="new_password">
  </td>
</tr>
<tr>
  <td>Confirm Password: </td>
  <td>
    <input id="confirm_password" style="width:159px;" type="password" name="confirm_password">
  </td>
</tr>
<tr>
  <td></td>
  <td>
  	<div class="btn-group pull-right">
  		<a class="btn btn-small" onclick="removePassword();">Back</a>
			<a id="submit" class="btn btn-small">Submit</a>
		</div>
	</td>
</tr>
</table>
</form>
<script>
$("#submit").click(function(e){
	e.preventDefault();
	var user_password = "<%=@user_partial.password.nil? ? "" : @user_partial.password%>";
	var current_password = $("#current_password").val();
	var new_password = $("#new_password").val();
	var confirm_password = $("#confirm_password").val();
	if(user_password == current_password){
		if(new_password == confirm_password){
			var str = $("#confirm_password").val();
			if(str.length != 0){
				$("form:last").attr("action", "/account/change_password/<%=@user_partial.id%>?password="+str);
				$("#password_help").text("");
				$("form:last").submit();
			}
			else{
				$("#password_help").text("One of your passwords is blank.");
				$("#current_password").val("");
				$("#new_password").val("");
				$("#confirm_password").val("");
			}
		}
		else{
			$("#password_help").text("One of your passwords did not match.");
			$("#current_password").val("");
			$("#new_password").val("");
			$("#confirm_password").val("");
		}
	}
	else{
		$("#password_help").text("Password is incorrect.");
		$("#current_password").val("");
		$("#new_password").val("");
		$("#confirm_password").val("");
	}
});
function removePassword(){
	$('#password').load('/partial/account/remove_password/<%=@user_partial.id%>');
}
</script>
