<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="/stylesheets/style.css" rel="stylesheet">
<title>G2 Sequence - Login</title>
<script src="/javascripts/jquery/jquery-latest.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
</head>
<body>
<div align="center">
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p><%=$login%></p>
	<table class="norm" style="width:480px;height:330px;margin:auto;background-repeat:no-repeat" background="/images/background.png">
		<form action="/login" method="post">
		<tr style="height:100px">
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td valign="bottom">
				<table class="norm" style="width:420px;height:185px;margin-left:auto;margin-right:auto;">
					<tr>
						<td><strong>Username: </strong></td>
						<td>
							<input name="name" type="text">
						</td>
					</tr>
					<tr>
						<td><strong>Password: </strong></td>
						<td>
							<input name="password" type="password">
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>
							<label class="checkbox">
								<input type="checkbox" name="remember"> <strong>Remember me</strong>
							</label>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>
							<div class="btn-group pull-right">
  							<a class="btn" href="/">Back</a>
								<input type="submit" class="btn">
							</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		</form>
	</table>
</div>
</body>
</html>
