<table class="norm">
	<tr>
		<td><a class="pull-left" onclick="editPassword();">Change Password</a></td>
	</tr>
</table>
<script>
function editPassword(){
	$('#password').load('/partial/account/add_password/<%=@user_partial.id%>');
}
</script>
