<div style="width:100%;margin-left:auto;margin-right:auto;">
	<a class="btn pull-left btn-small" onclick="add();">Email Team</a>
</div>
<script>
function add(){
	$('#addEmail').load('/partial/email_team/add');
}
</script>
